@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* INITIAL CONFIGURATION */
* {
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: hsl(257, 40%, 49%);
  --color-secondary: #e882e8;
  --font-headings: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

html {
  height: 100%;
  width: 100vw;
}

/* ------------------------------------------------------- */
body {
  background-color: var(--color-primary);
  background-image: url("../images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}
body main {
  height: 100%;
}
body main header img {
  margin: 2rem;
  width: 8rem;
}
body main section figure {
  width: 80vw;
  margin: 1.5rem auto 4rem auto;
}
body main section figure img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
}
body main section article {
  width: 80vw;
  margin: 0 auto;
  padding: 0 2vw;
  text-align: center;
}
body main section article h1 {
  font-size: 1.5rem;
  font-family: var(--font-headings);
}
body main section article p {
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  font-family: var(--font-body);
  line-height: 1.6rem;
}
body main section article button {
  color: var(--color-primary);
  border-width: 0;
  border-radius: 45px;
  padding: 1rem 5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
body main section article button:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
  color: white;
}
body main .socialIcons {
  margin-top: 4rem;
  gap: 0.8rem;
  display: flex;
  justify-content: center;
}
body main .socialIcons .socialIcon {
  display: flex;
  padding: 0.3rem;
  border: 1px solid white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
body main .socialIcons .socialIcon img {
  width: 1.5rem;
  filter: invert(99%) sepia(41%) saturate(0%) hue-rotate(72deg) brightness(113%) contrast(100%);
}
body main .socialIcons .socialIcon:hover {
  filter: invert(68%) sepia(39%) saturate(2399%) hue-rotate(253deg) brightness(109%) contrast(82%);
}
body footer {
  width: 100%;
  text-align: center;
  position: absolute;
  display: block;
  bottom: 2px;
}
body footer p {
  font-size: 1rem;
}

/* ------------------------------------------------------- */
@media (min-width: 768px) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
  }
  body main header img {
    margin: 3rem 4rem;
    width: 15rem;
  }
  body main section {
    display: flex;
    padding: 2rem 4rem;
  }
  body main section figure {
    width: 100%;
  }
  body main section article {
    text-align: left;
    padding: 4rem 3rem;
  }
  body main section article h1 {
    font-size: 2.5rem;
  }
  body main .socialIcons {
    position: absolute;
    right: 6rem;
    bottom: 3rem;
  }
  body main .socialIcons .socialIcon {
    padding: 0.5rem;
  }
  body main .socialIcons .socialIcon img {
    width: 2rem;
  }
  body footer {
    bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */